<h2>Log In</h2>

<form action="/login" method="POST">
    <p>Enter Username:<input type='text' id='username' name='user[username]'></p>
    <br>
    <p>Enter Email:<input type='text' id='email' name='user[email]'></p>
    <br>
    <p>Enter Password:<input type='text' id='password' name='user[password]'></p>
    <br>
    <input type='submit' value='Log In'>

</form>